/* The sidebar menu */
.navbar {
	height: 100vh; /* Full-height: remove this if you want "auto" height */
	width: 4.5rem; /* Set the width of the navbar */
	min-width: 4.5rem;
	max-width: 4.5rem;
	padding: 0.5rem;
	overflow-x: hidden; /* Disable horizontal scroll */
	background-color: #393939;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.navbar-brand {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 100;
}

.navbar-back {
	text-align: center;
	margin-top: 0.5rem;
}

#logo {
	width: 3.5rem;
	height: auto;
}

#logo ~ .navbar-back svg #nazaj {
	stroke: #858585;
}
#logo:hover ~ .navbar-back svg #nazaj {
	stroke: #858585;
}

.navbar-title {
	position: absolute;
	bottom: 3rem;
	left: 4rem;
	width: 20rem;
	height: 3.8rem;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 1.125rem; /* 18px */
	line-height: 3.0rem;
	transform: rotate(-90deg);
	transform-origin: bottom left;
	color: #858585;
	z-index: 100;
	text-align: left;
}

.navbar-toggler {
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	z-index: 100;
}

/* Override: force transparent border */
.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,0);
}

#navbar-cheeseburger {
	color: rgba(255,255,255,.5);
	padding: 0.3rem;
	line-height: 1.55;
}

#navbarToggleMenu {
	position: fixed;
	line-height: 1.5;
	left: 4.5rem;
	top: 0;
	background-color: #393939;
	z-index: 100;
}


.menu {
	padding: 0.5rem;
	padding-top: 0;
	color: #858585;
}

.menu.active,
.menu.active:hover {
	color: #FFFFFF;
	background-color: #48AC33;
}

/*
.menu.active .menu-number {
	color: #48AC33;
}
*/

.menu:hover {
	background-color: #636363;
	color: #FFFFFF;
	cursor: pointer;
}

.menu:hover .menu-number {
	color: #48AC33;
}

.menu:hover .menu-title {
	color: #FFFFFF;
}

.menu-number {
	float: left;
	width: 10vh;
	padding-right: 1vh;
	height: 100%;
	font-family: 'Rubik Black';
	font-weight: bold;
	font-size: 10vh;
	text-align: right;
}

.menu-title {
	float: left;
	width: 30vh;
	margin-top: 4vh;
	text-align: left;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 3.6vh; /*1.8rem*/
	line-height: 3.4vh;
}

.menu-items {
	float: left;
	width: 30vh;
	margin-top: 2vh;
	text-align: left;
	font-family: 'Rubik';
	font-weight: normal;
	font-size: 2vh;
	line-height: 4vh;
}

.menu-items a {
	color: #FFFFFF;
	text-decoration: none;
}

.menu-items a:hover {
	color: #48AC33;
}

.menu-label {
	font-family: 'Rubik';
	font-weight: normal;
	font-size: 2vh;
	line-height: 4vh;
}

/* Navbar light borders */
.bl { border-left: 1px solid rgba(255,255,255,.1) }
.br { border-right: 1px solid rgba(255,255,255,.1) }
.bt { border-top: 1px solid rgba(255,255,255,.1) }
.bb { border-bottom: 1px solid rgba(255,255,255,.1) }

/* Navbar menu item heights */
.nh15 { height: 15vh }
.nh40 { height: 40vh }
.nh55 { height: 55vh }

/* Previous and Next buttons */
.nav-prev-btn,
.nav-next-btn {
  position: fixed;
  top: 45vh;
  height: 6.5vh;
  min-height: 3rem;
  width: 6vh;
  min-width: 2.5rem;
  color: #858585;
  /* Semi-transparent #393939 background */
  background-color: rgba(57, 57, 57, 0.8);
  padding: 0.5rem;
  cursor: pointer;
  z-index: 90;
}

.nav-prev-btn {
  /*left: 4.5rem; /* The width of the navbar */
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.nav-next-btn {
  right: 0;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-bottomleft: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.nav-prev-btn:hover,
.nav-next-btn:hover {
  color: #FFFFFF;
  background-color: #48AC33;
}

.nav-prev-btn:hover svg #nazaj_24 {
	stroke: #FFFFFF;
}

.nav-next-btn:hover svg #naprej_24 {
	stroke: #FFFFFF;
}

#navbarToggleMenu table {
  width: 100%;
  height: 100%;
}

#navbarToggleMenu table td {
  padding: 2vh;
}

#navbarToggleMenu table td.content {
  padding-top: 0;
}

.menu-main-column {
  color: #FFFFFF;
  background-color: #000000;
}

td#plebiscit,
td#samostojnost,
td#vojna,
td#plebiscit-menu,
td#samostojnost-menu,
td#vojna-menu,
td#osnovni-menu {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 4vh;
	/*height: 12.5%;*/
	padding-left: 4vh !important;
}

td#plebiscit-menu,
td#samostojnost-menu,
td#vojna-menu,
td#osnovni-menu {
	cursor: pointer;
}

td#plebiscit {
	background-size: 30vw auto;
	background-image: url('../img/plebiscit_button_bg.jpg');
	background-position: 50% 40%;
}

td#samostojnost {
	background-size: 30vw auto;
	background-image: url('../img/samostojnost_button_bg.jpg');
	background-position: 50% 20%;
}

td#vojna {
	background-size: 30vw auto;
	background-image: url('../img/vojna_button_bg.jpg');
	background-position: 50% 20%;
}

td#plebiscit-menu {
	background-size: auto 35vh;
	background-image: url('../img/plebiscit_button_bg.jpg');
	background-position: 50% 40%;
}

td#samostojnost-menu {
	background-size: auto 35vh;
	background-image: url('../img/samostojnost_button_bg.jpg');
	background-position: 50% 20%;
}

td#vojna-menu {
	background-size: auto 35vh;
	background-image: url('../img/vojna_button_bg.jpg');
	background-position: 50% 20%;
}

.item-number {
	float: left;
	/*width: 25%;*/
	width: 8vw; /* 7vw = 25% of 28% column (28vw) */
	padding-right: 1rem;
	height: 100%;
	line-height: 100%;
	font-family: 'Rubik Black';
	font-weight: bold;
	font-size: 8.5vh;
	text-align: right;
}

.item-number-m {
	float: left;
	/*width: 25%;*/
	width: 6rem; /* 7vw = 25% of 28% column (28vw) */
	padding-right: 1rem;
	padding-top: 0.75rem;
	padding-left: 1rem;
	height: 100%;
	line-height: 100%;
	font-family: 'Rubik Black';
	font-weight: bold;
	font-size: 4rem;
	text-align: right;
}

.item-label {
	float: left;
	/*width: 75%;*/
	/*width: 20.5vw; /* 21vw = 75% of 28% column (28vw) */
	height: 100%;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 2.5vh;
	line-height: 3vh;
	padding-top: 1vh;
}

.item-label-m {
	float: left;
	/*width: 75%;*/
	/*width: 20.5vw; /* 21vw = 75% of 28% column (28vw) */
	height: 100%;
	padding-top: 1rem;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.75rem;
}

.item-content {
	float: left;
	/*margin-left: 25%; /* width of .item-number */
	margin-left: 8vw; /* width of .item-number */
	/*width: 75%;*/
	/*width: 21vw; /* 21vw = 75% of 28% column (28vw) */
	height: 100%;
	font-size: 2vh;
    line-height: 3.5vh;
}

.item-content-m {
	float: left;
	/*margin-left: 25%; /* width of .item-number */
	margin-left: 6rem; /* width of .item-number */
	/*width: 75%;*/
	/*width: 21vw; /* 21vw = 75% of 28% column (28vw) */
	height: 100%;
	font-size: 1rem;
    line-height: 1.5rem;
}

.item-content a,
.item-content-m a {
	color: #FFFFFF;
	text-decoration: none;
}

.item-content a:hover,
.item-content-m a:hover {
	color: #393939;
}

/* Bottom menu bar */

#bottombar {
	position: fixed;
	width: 100vw;
	height: 4.5rem;
	padding: 0.5rem;
	overflow-y: hidden; /* Disable vertical scroll */
	line-height: 1.5;
	left: 0;
	top: calc(100vh - 4.5rem);
	background-color: #393939;
	z-index: 2000;
}

.bottombar-title {
	position: absolute;
	bottom: -1.125rem;
	left: 4rem;
	width: 30rem;
	height: 3.8rem;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 1.125rem; /* 18px */
	line-height: 3.0rem;
	color: #858585;
	z-index: 2000;
	text-align: left;
}

.bottombar-toggler {
	position: absolute;
	bottom: 1rem;
	left: 0.5rem;
	padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
	z-index: 2000;
}

#btmbar-cheeseburger {
	color: rgba(255,255,255,.5);
	padding: 0.3rem;
	line-height: 1.55;
}

#navbarBottomMenu {
	position: fixed;
	width: 100vw;
	height: calc(100vh - 4.5rem);
	line-height: 1.5;
	left: 0;
	top: 50;
	background-color: #393939;
	z-index: 1999;
}

#navbarBottomMenu table {
  width: 100%;
  height: 100%;
}

#navbarBottomMenu table td {
  padding: 2vh;
}

#navbarBottomMenu table td.content {
  padding-top: 0;
}

/*
.video-toggler {
	position: absolute;
	bottom: 1rem;
	left: 45vw;
	padding: .15rem 1rem;
    font-size: 2rem;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-weight: 100;
	color: rgba(255,255,255,.5);
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
	z-index: 2000;
}
*/

.collapse-title {
	height: 12.5vh;
	padding: 3vh 0vh;
}

.collapse-item {
	height: 62.5vh;
	padding: 0;
}


/* Progress bar */

/* The progress container (grey background) */
.progress-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #ccc;
	z-index: 3000;
}

/* The progress bar (scroll indicator) */
.progress-bar {
	height: 4px;
	background: #48AC33;
	width: 0%;
}


/* Page navigation / paging */

.paging {
	position: absolute;
    bottom: 0.875rem;
    right: 1rem;
    width: 8rem;
	color: #858585;
	font-family: 'Rubik';
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 3.0rem;
}

.paging a {
	color: #858585;
	cursor: pointer;
	text-decoration: none;
}

.paging a:hover {
	color: #48AC33;
}

.dimmed {
	color: #636363;
}


/* Video button / Playlist */

.video-button {
	position: fixed;
	top: 5vh;
	right: 10vh;
	width: 60px;
	height: 60px;
	padding: 12px;
	color: white;
	background-color: #393939;
	cursor: pointer;
	z-index: 900;
}

.video-counter {
	position: fixed;
	top: calc(5vh + 8px);
	right: calc(10vh + 8px);
	width: 20px;
	height: 20px;
	padding: 0 6px;
	color: white;
	background-color: #48AC33;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.video-playlist {
	position: fixed;
	top: 5vh;
	right: 10vh;
	height: 75vh;
	width: 30vh;
	padding: 1vh;
	background-color: rgba(0,0,0,0.75);
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 800;
}

.video-playlist::-webkit-scrollbar {
	width: 15px;
	height: 30px;
}
.video-playlist::-webkit-scrollbar-thumb {
	background: #979797;
	border: 6px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 30px;
}
.video-playlist::-webkit-scrollbar-thumb:hover{
	background: #CCCCCC;
	border: 6px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 30px;
}

.video-collapse {
	position: fixed;
	top: 80vh;
	right: 10vh;
	width: 30vh;
	height: 5vh;
	color: #858585;
	background-color: #393939;
	text-align: center;
	font-family: 'Rubik';
    font-weight: bold;
    font-size: 1.75rem;
	line-height: 5vh;
	cursor: pointer;
	z-index: 900;
}

.video-collapse:hover {
	color: #48AC33;
}

.playlist-label {
	color: #fff;
	font-size: 0.75rem;
	padding-bottom: 0.5rem;
}


/*
 *  Bootstrap 4 media queries
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	#navbarToggleMenu {
		width: calc(100vw - 4.5rem);
		height: 100vh;
	}

	nav {
		visibility: visible;
	}

	#bottombar {
		visibility: hidden;
	}

	.nav-prev-btn {
		left: 4.5rem;
	}

	.nav-prev-btn,
	.nav-next-btn {
		visibility: hidden;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	#navbarToggleMenu {
		width: 100vw;
		height: calc(100vh - 4.5rem);
	}
	
	nav {
		visibility: hidden;
	}

	#bottombar {
		visibility: visible;
	}

	.nav-prev-btn {
		left: 0;
	}

	.nav-prev-btn,
	.nav-next-btn {
		visibility: visible;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	#navbarToggleMenu {
		width: 100vw;
		height: calc(100vh - 4.5rem);
	}

	nav {
		visibility: hidden;
	}

	#bottombar {
		visibility: visible;
	}

	.nav-prev-btn {
		left: 0;
	}

	.nav-prev-btn,
	.nav-next-btn {
		visibility: visible;
	}
}
